// main: ../../style.less

.advantages {
  margin-top: 30px;
}

.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100px 100px;
}

.advantages__item:not(:first-child) {
  display: none;
}

.advantages__icon {
  height: 100px;
}

.advantages__title {
  margin-top: 35px;

  font-size: 30px;
  text-transform: uppercase;
}

.advantages__description {
  padding: 0 50px;

  text-align: center;
}

.advantages__toggle-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.advantages__toggles {
  display: flex;
  justify-content: center;
}

@media (min-width: @tablet-width) {
}

@media (min-width: @desktop-width) {
}
