// main: ../../style.less

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: @color-black;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;

  background-color: transparent;
  border: 1px solid @color-image-border;

  &:hover {
    text-decoration: none;

    background-color: @color-image-border-hover;
  }

  &:active {
    color: @color-black-opacity-30;
    text-decoration: none;

    background-color: @color-image-border-hover;
    border-color: @color-image-border-hover;
  }

  &:focus {
    text-decoration: none;
  }
}

.button--submit {
  font-weight: bold;
  color: @color-white;

  background-color: @color-bg-main-nav;
  border: none;
}
