// main: ../../style.less
.news {
  position: relative;

  color: @color-black;

  background-color: @color-bg-light-gray;
  border-bottom: 1px solid @color-black-opacity-30;
}

.news::before {
  content: "";
  position: absolute;
  top: -50px;
  right: 0;
  z-index: 10;

  width: 100%;
  height: 50px;

  background-image: linear-gradient(
  to top right,
  @color-bg-light-gray 50%,
  transparent 50%
  ),
  linear-gradient(to top left, @color-bg-light-gray 50%, transparent 50%);
  background-repeat: no-repeat;
  background-position: 0 0, 100% 0;
  background-size: 50.1% 100%;
}

.news__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 30px;
}

.news__title {
  margin-bottom: 10px;

  text-align: center;
  text-transform: uppercase;
}

.news__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.news__item {
  display: flex;
  padding: 20px 0;
}

.news__item:not(:last-child) {
  border-bottom: 1px solid @color-black-opacity-30;
}

.news__date {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 60px;
  margin-top: 10px;
  margin-right: 20px;

  font-size: 18px;
  color: @color-white;

  background-image: url("../../../img/vector/shield.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.news__day {
  font-size: 28px;
  line-height: 15px;
}

.news__text {
  margin: 0;
}

.news__to-all--top {
  display: none;
}

.news__to-all--bottom {
  width: 100%;
  height: 50px;
}

@media (min-width: @tablet-width) {
  .news {
    border-bottom: 1px solid @color-black-opacity-30;
  }

  .news__wrapper {
    width: 640px;
  }

  .news__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }

  .news__title {
    margin: 0;

    font-size: 34px;
  }

  .news__to-all--top {
    display: flex;
    width: 160px;
    height: 50px;
  }

  .news__to-all--bottom {
    display: none;
  }

  .news__list {
    display: flex;
    margin-top: 20px;
  }

  .news__item:not(:last-child) {
    width: 50%;
    padding-right: 30px;

    border-bottom: none;
  }

  .news__item:last-child {
    display: none;
  }
}

@media (min-width: @desktop-width) {
}
