// main: ../../style.less

.stats {
  width: 320px;
  margin: 0 auto;
}

.stats__header {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;

  color: @color-black;

  background-color: @color-white;
}

.stats__slogan {
  display: block;
  margin-bottom: 15px;

  font-weight: bold;
  font-size: 32px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.stats__intro {
  margin: 0;

  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.stats__legend {
  display: block;

  font-size: 20px;
  line-height: 20px;
}

.stats__legend--bottom {
  padding-top: 20px;
  padding-bottom: 14px;

  text-align: center;
  color: @color-white-opacity-30;

  background-color: @color-bg-dark-gray;
}

.stats__legend sup {
  top: -0.25em;

  font-size: 90%;
}

.stats__legend--top {
  display: none;
}

.stats__list {
  width: 100%;

  border-collapse: collapse;
}

.stats__list tr {
  color: @color-white;

  background-color: @color-pad-1;

  &:nth-child(2) {
    background-color: @color-pad-2;
  }

  &:nth-child(3) {
    background-color: @color-pad-3;
  }

  &:nth-child(4) {
    background-color: @color-pad-4;
  }
}

.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;

  vertical-align: top;
}

.stats__value {
  padding-right: 0;

  font-size: 40px;
  line-height: 40px;
}

.stats__value sup {
  top: -0.35em;

  margin-left: 5px;
}

.stats__field {
  padding-left: 0;

  font-size: 18px;
  line-height: 18px;
  text-align: right;
}

@media (min-width: @tablet-width) {
  .stats {
    width: 640px;
    margin: 0 auto;
    margin-top: -185px;
  }

  .stats__header {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 185px;

    &::before {
      content: "";
      position: absolute;
      top: 27px;
      left: -15px;

      border: 15px solid transparent;
      border-bottom-color: @color-white;
      transform: rotate(45deg);
    }
  }

  .stats__slogan {
    width: 300px;
    margin-bottom: 18px;

    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none;
  }

  .stats__intro {
    width: 220px;
    margin-top: 5px;
    padding: 0;

    text-align: left;
  }

  .stats__legend--top {
    display: block;
    width: 300px;

    color: @color-black-opacity-30;
  }

  .stats__legend--bottom {
    display: none;
  }

  .stats__list tbody {
    display: flex;
    flex-wrap: wrap;
  }

  .stats__list tr {
    width: 50%;
    padding: 25px 35px;
    padding-bottom: 28px;
  }

  .stats__list td {
    display: block;
    width: auto;
    padding: 0;
  }

  .stats__value {
    margin-bottom: 7px;

    font-size: 72px;
    line-height: 72px;
  }

  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }

  .stats__field br {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .stats {
    display: flex;
    width: 960px;
    margin-top: -160px;
  }

  .stats__header {
    flex-grow: 1;
    flex-direction: column;
    width: 320px;

    &:before {
      top: 22px;
    }
  }

  .stats__slogan {
    width: auto;
    margin-bottom: 42px;
  }

  .stats__intro {
    width: auto;
    margin-bottom: 32px;
    padding-right: 30px;
    padding-left: 0;
  }

  .stats__legend--top {
    width: auto;
    margin-top: auto;
  }

  .stats__list {
    position: relative;

    display: flex;
    flex-grow: 1;
    width: 640px;
  }
}
